@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  color: #313131;
}

input[type=button] {
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  background-color: #113c74;
  box-shadow: 0px 0px 15px -13px #000000;
  color: white;
  cursor: pointer;
}

select {
  width: 250px;
  padding: 2px 5px;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 10px;
}

a {
  text-decoration: none;
  font-style: none;
  color: black;
}

li {
  list-style-type: none;
}

input[type=text],
[type=email],
[type=password],
[type=date],
[type=submit],
select {
  background-color: white !important;
  padding: 5px;
  margin: 10px 0px;
  border: 1px solid black;
  outline: none;
  border-radius: 2px;
}

input[type=button] {
  padding: 5px 15px;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.login-logo {
  font-size: 5px;
  width: 250px;
}
.login-logo img {
  width: 100%;
}

.login-info {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -13px #000000;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 250px;
}
.login-info .logon-credentials {
  width: 100%;
}
.login-info .logon-credentials input[type=text] {
  width: 100%;
  padding: 5px 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid grey;
}

.login-actions input[type=button] {
  cursor: pointer;
  border: 2px solid #3399ff;
  outline: none;
  font-size: 12px;
  padding: 5px 50px;
  background-color: #4da6ff;
  font-weight: bold;
  border-radius: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  background-color: #134772;
  color: white !important;
}
.navbar .nav-info {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  background-color: #f8f8f8;
  display: flex;
}
.content .side-bar {
  height: 100vh;
  position: sticky;
  top: 0px;
  width: 300px;
  background-color: #134772;
}
.content .side-bar .sidebar_item .sb-title p {
  background-color: #0c2d48;
  color: #b1d4e0;
  letter-spacing: 2px;
  padding: 5px 1rem;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}
.content .side-bar .sidebar_item .sb-items ul {
  background-color: #134772;
}
.content .side-bar .sidebar_item .sb-items ul li {
  padding: 5px;
  display: flex;
  align-items: center;
}
.content .side-bar .sidebar_item .sb-items ul li span {
  color: white !important;
}
.content .side-bar .sidebar_item .sb-items ul li a {
  padding: 5px 1rem;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
}
.content .side-bar .sidebar_item .sb-items ul .active {
  border-left: 3px solid #1fd334;
  background-color: #134772;
}
.content .side-bar .sidebar_item .sb-items ul .active a {
  color: white;
  letter-spacing: 1px;
}
.content .content-container {
  width: 100%;
  padding: 5px 1rem;
}
.content .content-container .db-card-collection {
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .content-container .db-card-collection .db-card {
  width: 230px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .content-container .db-card-collection .db-card .card-number {
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
}
.content .content-container .db-card-collection .db-card .card-number p {
  font-size: 12px;
}
.content .content-container .db-card-collection .db-card .card-number h1 {
  font-size: 45px;
}
.content .votes-tally {
  background: #ffffff;
  padding: 1rem;
}
.content .votes-tally .tally_pres {
  padding: 1rem;
  background-color: #3399ff;
  margin: 0px 10px;
  border-radius: 15px;
}
.content .votes-tally .tally_pres .tally_item {
  font-size: 15px;
  background-color: white;
  border-radius: 15px;
  width: 350px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
.content .list-container {
  font-size: 13px;
}
.content .list-container .filter {
  margin: 10px 0px;
  box-shadow: 0px 0px 15px -13px #000000;
  padding: 1rem;
}
.content .list-container .list-table {
  margin-top: 10px;
  box-shadow: 0px 0px 15px -13px #000000;
  padding: 0px 1rem;
}
.content .list-container .list-action {
  margin: 10px 0px;
  box-shadow: 0px 0px 15px -13px #000000;
  padding: 1rem;
}
.content .card-step {
  display: none;
}
.content .card-step.active {
  display: block;
}

.bg-add-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.bg-add-container .add-input input[type=text],
.bg-add-container .add-input input[type=email],
.bg-add-container .add-input input[type=password],
.bg-add-container .add-input input[type=date] {
  font-size: 11px;
}
.bg-add-container .add-input h5 {
  text-transform: uppercase;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-max {
  font-size: 88px;
}

/*# sourceMappingURL=output.css.map */
